service cloud.firestore {
  match /databases/{database}/documents {
    match /members/{members} {
      allow read;
      allow write : if exists(/databases/$(database)/documents/admins/$(request.auth.uid))
    }

    match /status/{members} {
      allow read;
      allow write : if exists(/databases/$(database)/documents/admins/$(request.auth.uid))
    }
    
    match /admins/{admin} {
      allow read;
    }
  }
}
