.full-height {
    min-height: 100vh;
}
.center {
    align-self: center;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.thinc-logo {
    z-index: 5;
    height: auto;
    max-width: 90%;
    -webkit-filter: brightness(120%) drop-shadow(5px 5px 15px #222);
    filter: brightness(130%) drop-shadow(5px 5px 15px #222);
}
.thinc-logo.is-small {
    height: auto;
    width: 200px;
}

.thinc-bg {
    background-color: #222;
}
/* .thinc-bg::before {
    content: '';
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: 0; */
    /* background-image: url(../assets/circuit_bg.png); */
    /* background-size: cover; */
    /* -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px); */
    /* filter: blur(5px); */
    /* background-image: linear-gradient(to bottom right, rgb(49, 40, 49), rgb(68, 70, 60)); */
/* } */
.white {
    color: #eee;
}